### Terraform ###
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*
crash.log
.terraform.lock.hcl

# Terraform variables (secrets)
*.tfvars
*.tfvars.json

### IDE - IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/
*.class
*.jar

### IDE - VS Code ###
.vscode/*
.history/
.settings/

### Environment / Local Run ###
.env
*.local
*.secret
*.tmp
*.bak
*.swp

### Logs ###
logs/
*.log
*.out
